body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:620px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:989px;
  height:620px;
}
#u2773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:57px;
  width:251px;
  height:17px;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:57px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:40px;
  width:646px;
  height:1px;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:8px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:51px;
  width:646px;
  height:55px;
  font-size:16px;
  color:#0099FF;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:122px;
  width:646px;
  height:1px;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:97px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:133px;
  width:718px;
  height:51px;
  color:#0099FF;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
