body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21639 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:3px;
  width:1366px;
  height:50px;
}
#u21639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21640 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:53px;
  width:200px;
  height:800px;
}
#u21640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u21641 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:33px;
  height:29px;
}
#u21641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u21642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21642 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:53px;
  width:1166px;
  height:800px;
}
#u21642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u21643 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:16px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u21643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21644 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:3px;
  width:1166px;
  height:50px;
}
#u21644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u21645 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:16px;
  width:28px;
  height:25px;
}
#u21645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u21646 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:13px;
  width:35px;
  height:31px;
  font-size:10px;
}
#u21646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u21647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21647 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:20px;
  width:29px;
  height:17px;
}
#u21647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u21648 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:26px;
  width:15px;
  height:8px;
}
#u21648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21649 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:74px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u21650 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:76px;
  width:19px;
  height:11px;
}
#u21650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u21651 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:75px;
  width:20px;
  height:16px;
}
#u21651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21652 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:171px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21653 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:97px;
  width:199px;
  height:33px;
}
#u21653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21654 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:104px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21655 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:140px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u21656 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:57px;
  width:156px;
  height:27px;
  text-align:left;
}
#u21656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u21657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21657 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:63px;
  width:10px;
  height:17px;
  color:#999999;
}
#u21657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u21658_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1170px;
  height:6px;
}
#u21658 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:95px;
  width:1167px;
  height:3px;
}
#u21658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21659 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:186px;
  width:1127px;
  height:567px;
}
#u21659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21660 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:113px;
  width:341px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u21661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:2px;
}
#u21661 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:176px;
  width:1120px;
  height:1px;
}
#u21661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21662_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u21662 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:174px;
  width:100px;
  height:2px;
}
#u21662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u21663 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:151px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u21663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
}
#u21664 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:151px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#0099FF;
}
#u21664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u21665 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:787px;
  width:1167px;
  height:66px;
}
#u21665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21666 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:794px;
  width:140px;
  height:40px;
}
#u21666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u21667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u21667 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:794px;
  width:140px;
  height:40px;
  color:#0099FF;
}
#u21667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u21668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21668 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:198px;
  width:1061px;
  height:40px;
}
#u21668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21669 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:210px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21670 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:210px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21671 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:210px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21672 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:210px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21673 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:210px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21674 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:237px;
  width:1061px;
  height:76px;
}
#u21674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21675 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:267px;
  width:69px;
  height:17px;
  color:#666666;
}
#u21675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u21676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21676 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:259px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21677 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:267px;
  width:48px;
  height:16px;
}
#u21677_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21677_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21678 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:267px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21679 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:267px;
  width:17px;
  height:17px;
  color:#666666;
}
#u21679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21680 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:313px;
  width:1061px;
  height:76px;
}
#u21680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21681 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:343px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21682 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:335px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21683 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:343px;
  width:48px;
  height:16px;
}
#u21683_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21683_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21684 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:343px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21685 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:343px;
  width:9px;
  height:17px;
  color:#666666;
}
#u21685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21686 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:389px;
  width:1061px;
  height:76px;
}
#u21686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21687 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:419px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21688 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:411px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21689 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:419px;
  width:48px;
  height:16px;
}
#u21689_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21689_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21690 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:419px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21691 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:419px;
  width:9px;
  height:17px;
  color:#666666;
}
#u21691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21692 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:465px;
  width:1061px;
  height:76px;
}
#u21692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21693 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:495px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21694 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:487px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21695 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:495px;
  width:48px;
  height:16px;
}
#u21695_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21695_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21696 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:495px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21697 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:495px;
  width:17px;
  height:17px;
  color:#666666;
}
#u21697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21698 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:211px;
  width:15px;
  height:15px;
}
#u21698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21699 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:541px;
  width:1061px;
  height:76px;
}
#u21699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21700 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:571px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21701 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:563px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21702 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:571px;
  width:48px;
  height:16px;
}
#u21702_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21702_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21703 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:571px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21704 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:571px;
  width:17px;
  height:17px;
  color:#666666;
}
#u21704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21705 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:617px;
  width:1061px;
  height:76px;
}
#u21705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21706 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:647px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21707 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:639px;
  width:365px;
  height:33px;
  color:#666666;
}
#u21707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u21708 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:647px;
  width:48px;
  height:16px;
}
#u21708_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21708_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21709 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:647px;
  width:29px;
  height:17px;
  color:#666666;
}
#u21709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21710 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:647px;
  width:17px;
  height:17px;
  color:#666666;
}
#u21710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u21711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21711 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:760px;
  width:401px;
  height:17px;
}
#u21711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u21712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u21712 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:109px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u21712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u21713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21713 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:109px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
