body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:22px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:19px;
  width:915px;
  height:72px;
  color:#666666;
  line-height:22px;
}
#u6497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  word-wrap:break-word;
}
