body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2234px;
  height:1389px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:14px;
  width:2234px;
  height:1389px;
}
#u7985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:1992px;
  top:587px;
  width:61px;
  height:21px;
  font-size:14px;
}
#u7986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u7987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:2053px;
  top:587px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u7988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:58px;
  width:646px;
  height:1px;
}
#u7988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:26px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:69px;
  width:646px;
  height:30px;
  font-size:16px;
  color:#666666;
}
#u7990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u7991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:134px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:166px;
  width:122px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u7993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:193px;
  width:646px;
  height:29px;
  color:#666666;
}
#u7993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u7994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:222px;
  width:646px;
  height:479px;
}
#u7994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:2264px;
  top:229px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:2400px;
  top:600px;
  width:140px;
  height:38px;
}
#u7996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u7997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:2616px;
  top:600px;
  width:140px;
  height:38px;
}
#u7997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u7998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:256px;
  width:646px;
  height:1px;
}
#u7998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:275px;
  width:373px;
  height:17px;
}
#u7999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u8000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:2877px;
  top:229px;
  width:13px;
  height:17px;
  color:#666666;
}
#u8000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u8001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:312px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:440px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:517px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:339px;
  width:532px;
  height:25px;
}
#u8004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:2345px;
  top:467px;
  width:181px;
  height:25px;
}
#u8005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:471px;
  width:43px;
  height:17px;
}
#u8006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:2653px;
  top:467px;
  width:181px;
  height:25px;
}
#u8007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:2610px;
  top:471px;
  width:43px;
  height:17px;
}
#u8008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:544px;
  width:532px;
  height:25px;
}
#u8009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:727px;
  width:646px;
  height:117px;
  color:#666666;
}
#u8010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:374px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:401px;
  width:532px;
  height:25px;
}
#u8012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
