body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:23px;
  width:658px;
  height:92px;
  font-size:14px;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:473px;
  width:755px;
  height:113px;
  font-size:14px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  word-wrap:break-word;
}
#u2921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:405px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:58px;
  width:769px;
  height:405px;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
