body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1827px;
  height:1075px;
}
#u19869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1827px;
  height:1075px;
}
#u19869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19870 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:233px;
  width:71px;
  height:17px;
}
#u19870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19871 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:233px;
  width:212px;
  height:22px;
}
#u19871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19871_input:disabled {
  color:grayText;
}
#u19872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19872 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:418px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19873 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:504px;
  width:29px;
  height:17px;
}
#u19873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19874 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:631px;
  width:29px;
  height:17px;
}
#u19874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19875 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:764px;
  width:29px;
  height:17px;
}
#u19875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19876 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:894px;
  width:29px;
  height:17px;
}
#u19876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19877 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1025px;
  width:71px;
  height:17px;
}
#u19877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19878 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:235px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u19879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19879 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:415px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u19880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1827px;
  height:1277px;
}
#u19880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1195px;
  width:1827px;
  height:1277px;
}
#u19880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19881 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1760px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u19882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19882 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1760px;
  width:76px;
  height:17px;
}
#u19882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19883 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:1760px;
  width:60px;
  height:16px;
}
#u19883_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19883_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19884 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1760px;
  width:60px;
  height:16px;
}
#u19884_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19884_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u19885 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:36px;
  width:646px;
  height:1px;
}
#u19885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19886 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:6px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u19887 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:47px;
  width:646px;
  height:32px;
  font-size:16px;
  color:#666666;
}
#u19887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19888 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:89px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u19889 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:121px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u19889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u19890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19890 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:150px;
  width:442px;
  height:27px;
  color:#666666;
}
#u19890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u19891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19891 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:232px;
  width:101px;
  height:30px;
}
#u19891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u19892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19892 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:177px;
  width:125px;
  height:126px;
}
#u19892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:2px;
}
#u19893 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:209px;
  width:125px;
  height:1px;
}
#u19893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u19894 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:190px;
  width:14px;
  height:8px;
}
#u19894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19895 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:184px;
  width:57px;
  height:17px;
}
#u19895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19896 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:220px;
  width:57px;
  height:17px;
}
#u19896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19897 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:246px;
  width:29px;
  height:17px;
  color:#999999;
}
#u19897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19898 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:273px;
  width:29px;
  height:17px;
  color:#999999;
}
#u19898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19899 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:320px;
  width:646px;
  height:27px;
  color:#666666;
}
#u19899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u19900 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:382px;
  width:90px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u19900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u19901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19901 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:408px;
  width:646px;
  height:27px;
  color:#666666;
}
#u19901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u19902 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:471px;
  width:190px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u19902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u19903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19903 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:504px;
  width:646px;
  height:27px;
  color:#666666;
}
#u19903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19904 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:535px;
  width:370px;
  height:60px;
}
#u19904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19905 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:553px;
  width:76px;
  height:17px;
}
#u19905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19906 {
  border-width:0px;
  position:absolute;
  left:1934px;
  top:553px;
  width:60px;
  height:16px;
}
#u19906_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19906_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19907 {
  border-width:0px;
  position:absolute;
  left:2013px;
  top:553px;
  width:60px;
  height:16px;
}
#u19907_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19907_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19908 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:605px;
  width:646px;
  height:27px;
  color:#666666;
}
#u19908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19909 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:632px;
  width:370px;
  height:77px;
}
#u19909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19910 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:650px;
  width:76px;
  height:17px;
}
#u19910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19911 {
  border-width:0px;
  position:absolute;
  left:1934px;
  top:650px;
  width:60px;
  height:16px;
}
#u19911_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19911_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19912 {
  border-width:0px;
  position:absolute;
  left:2013px;
  top:650px;
  width:60px;
  height:16px;
}
#u19912_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19912_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u19913 {
  border-width:0px;
  position:absolute;
  left:1934px;
  top:676px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u19913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19914 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:719px;
  width:646px;
  height:27px;
  color:#666666;
}
#u19914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u19915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u19915 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:793px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u19915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19916 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:822px;
  width:646px;
  height:17px;
  color:#666666;
}
#u19916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
