body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:746px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:767px;
}
#u12363 {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:0px;
  width:1298px;
  height:767px;
}
#u12363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12364 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:467px;
  width:71px;
  height:17px;
}
#u12364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12365 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:470px;
  width:848px;
  height:22px;
}
#u12365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u12365_input:disabled {
  color:grayText;
}
#u12366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:608px;
}
#u12366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:777px;
  width:1022px;
  height:608px;
}
#u12366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12367 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:920px;
  width:71px;
  height:17px;
}
#u12367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12368 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:918px;
  width:186px;
  height:22px;
}
#u12368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u12368_input:disabled {
  color:grayText;
}
#u12369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12369 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:918px;
  width:65px;
  height:22px;
}
#u12369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u12370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12370 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:467px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u12371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12371 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:913px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
