body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:3px;
  width:1366px;
  height:50px;
}
#u5281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:53px;
  width:200px;
  height:800px;
}
#u5282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:33px;
  height:29px;
}
#u5283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u5284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:53px;
  width:1166px;
  height:800px;
}
#u5284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:16px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:3px;
  width:1166px;
  height:50px;
}
#u5286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:16px;
  width:28px;
  height:25px;
}
#u5287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:13px;
  width:35px;
  height:31px;
  font-size:10px;
}
#u5288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u5289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:20px;
  width:29px;
  height:17px;
}
#u5289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:26px;
  width:15px;
  height:8px;
}
#u5290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:57px;
  width:156px;
  height:27px;
  text-align:left;
}
#u5291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u5292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:63px;
  width:10px;
  height:17px;
  color:#999999;
}
#u5292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:2px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:42px;
  width:646px;
  height:1px;
}
#u5293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:10px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:53px;
  width:646px;
  height:55px;
  font-size:16px;
  color:#0099FF;
}
#u5295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u5296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:118px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:150px;
  width:790px;
  height:43px;
  color:#0099FF;
}
#u5297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u5298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:350px;
  width:718px;
  height:55px;
  color:#0099FF;
}
#u5298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u5299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:710px;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:104px;
  width:1123px;
  height:710px;
}
#u5299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5300_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:169px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:232px;
  width:76px;
  height:17px;
}
#u5301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:232px;
  width:77px;
  height:17px;
}
#u5302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u5303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:177px;
  width:136px;
  height:45px;
}
#u5303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5304_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:225px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5305_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:444px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5306_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:447px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5307_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:729px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:193px;
  width:893px;
  height:123px;
}
#u5308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:2152px;
  top:253px;
  width:93px;
  height:27px;
}
#u5309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u5310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:258px;
  width:127px;
  height:17px;
}
#u5310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:203px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:258px;
  width:71px;
  height:17px;
}
#u5312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:2px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:226px;
  width:893px;
  height:1px;
}
#u5313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:256px;
  width:161px;
  height:22px;
}
#u5314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u5314_input:disabled {
  color:grayText;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:254px;
  width:300px;
  height:25px;
}
#u5315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:422px;
  width:718px;
  height:55px;
  color:#0099FF;
}
#u5316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u5317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:500px;
  width:718px;
  height:88px;
}
#u5317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u5318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:614px;
  width:718px;
  height:88px;
  color:#0099FF;
}
#u5318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u5319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:702px;
  width:77px;
  height:27px;
}
#u5319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u5320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:765px;
  width:718px;
  height:113px;
  font-size:16px;
  color:#0099FF;
}
#u5320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  word-wrap:break-word;
}
#u5321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:74px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:104px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:76px;
  width:19px;
  height:11px;
}
#u5323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:75px;
  width:20px;
  height:16px;
}
#u5324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:169px;
  width:199px;
  height:33px;
}
#u5325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:176px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:140px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
