body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:609px;
}
#u21404 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:1169px;
  height:609px;
}
#u21404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21405_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u21405 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:205px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u21406_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:34px;
  height:34px;
}
#u21406 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:197px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u21407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21407 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:671px;
  width:71px;
  height:17px;
}
#u21407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21408 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:667px;
  width:300px;
  height:25px;
}
#u21408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
